/* --------------------------------------------------------------------------- */
/* Global Configuration */
/* --------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------- */
/* Typography used for the markings */
/* 
-Font sizes(px)
10/12/14/16/18/20/24/30/36/44/52/62/74/86/98

-Font weights
default: 400

-Line heights
default: 1
outras: 1.05 / 1.6

-Colors
primaria:
outras:
#333
#555
Indigo
#edf2ff #dbe4ff #bac8ff #91a7ff #748ffc
#5c7cfa #4c6ef5 #4263eb #3b5bdb #364fc7
Azul
#e7f5ff #d0ebff #a5d8ff #74c0fc #4dabf7
#339af0 #228be6 #1c7ed6 #1971c2 #1864ab

-Shadows

-Border-radius

-White space(px)
2/4/8/12/16/24/32/48/64/80/96/128

*/

/* --------------------------------------------------------------------------- */

/* Resetting initial configuration values */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Setting the rem calculation base from 16px to 10px
to facilitate the marking */

html {
  font-size: 62.5%;
}

/* Applying default values ​​to the entire document */

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/* --------------------------------------------------------------------------- */
/* Main container settings */
/* --------------------------------------------------------------------------- */

/*Main container of the home page configuring the
grid content, in two containers on one side the
text and on the other an image */

.inicial {
  max-width: 190rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

/* H1 configuration in the initial session */
.heading-primario {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.05rem;
  color: #333;
  margin-bottom: 3.2rem;
}

/* Setting the initial session description text */
.inicial-descricao {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

/* Image of the main container occupying the entire
the width available in the container */
.img-inicial {
  width: 100%;
}
